.Calculadora{
   display: block;
   margin:0 auto;
   padding: 20px;
   background-color: rgb(204, 31, 152);
   width: 350px;
   height: 500px;
   border-radius: 25px;
}
.Calculadora td button{
    display: block;
    width: 60px;
    height: 60px;
    font-size: 25px;
}
#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color:rgb(236, 160, 236) ;
    border-radius: 25px;
    overflow-y: scroll;
}