
body{
    text-align: center;
    margin: 30px;
    background: rgb(36, 0, 28);
    background: linear-gradient(90deg, rgb(0, 10, 36) 0%, rgba(206,53,218,1) 35%, rgb(87, 2, 5) 100%);

}
#resultado{
   display: grid;
   grid-template-columns:repeat(3, 1fr);
   grid-template-rows: auto;
   gap: 50px 50px; 
}
